<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>servlet_info</servlet-name>
        <servlet-class>com.example.jakartaee.servlets.Servlet_info</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet_info</servlet-name>
        <url-pattern>/servlet-info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FirstJsp</servlet-name>
        <jsp-file>/FirstJsp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstJsp</servlet-name>
        <url-pattern>/FirstJsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Accounts</servlet-name>
        <jsp-file>/Accounts.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accounts</servlet-name>
        <url-pattern>/accounts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>redirectJsp</servlet-name>
        <jsp-file>/redirectJsp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirectJsp</servlet-name>
        <url-pattern>/redirectJsp</url-pattern>
    </servlet-mapping>

</web-app>